<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="dojo_show_ninjas">
    <h2>{{one_dojo.name}} Ninjas</h2>
    <table class="table dojo_with_ninjas">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
            {%for ninja in one_dojo.ninjas%}
            <tr>
                <td>{{ninja.first_name}}</td>
                <td>{{ninja.last_name}}</td>
                <td>{{ninja.age}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <a href="/">Home</a>
</body>

</html>