<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User CR</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>

<body>
    <h1>All Users</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>
            {%for one_user in all_users%}
            <tr>
                <th scope="row">{{one_user.id}}</th>
                <td>{{one_user.first_name}} {{one_user.last_name}}</td>
                <td>{{one_user.email}}</td>
                <td>{{one_user.created_at}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <a href="/users/new">Add a New User</a>

</body>

</html>